<div class="self-end product-info w-64 py-8 px-4 w-full rounded-xl shadow-md hover:shadow-lg/30 transition duration-200 flex flex-col justify-end gap-4">
  <div class="product-form flex flex-col gap-4 ">
    <p> all that cart shit here </p>
    {% form 'product', product %}
      {% assign current_variant = product.selected_or_first_available_variant %}
      <select name="id" class="text-xs">
        {% for variant in product.variants %}
          <option
            class="text-xs"
            value="{{ variant.id }}"
            {% if variant == current_variant %}
              selected="selected"
            {% endif %}
          >
            size?
          </option>
        {% endfor %}
      </select>

      <input type="text" name="quantity" min="1" value="1">
      <input style="view-transition-name: {{product.title | handleize }}-buy-now-square" type="submit" value="Add to bart" class="text-indigo-300 text-sm">
      {{ form | payment_button }}
    {% endform %}
  </div>
</div>
