<div id="sidebar" class="min-w-36 shadow-sm shadow-transparent transition duration-100 ease-in rounded-xl" style="view-transition-name: sidebar">
    {% assign categories = "TODAY'S DROP,VIEW ALL,T-SHIRTS,
                            BUTTON-UP SHIRTS,
                            JACKETS,
                            SWEATERS,
                            SWEATSHIRTS,
                            PANTS,
                            SHORTS,
                            OVERALLS,
                            COVERALLS,
                            HEADWEAR,
                            BAGS,
                            ACCESSORIES,
                            SHOES,
                            MYSTERY BOXES,
                            MERCH,
                            GIFT CARDS,
                            CULT CLASSIC" | split: "," %}
    <ul class="p-4 flex flex-col gap-4 font-light">
        {% for cat in categories %}
            <li class="text-xs no-underline  hover:underline hover:text-indigo-400 transition duration-100 ease-in"><a href="collections/{{cat | strip | replace: " ","-" | downcase}}">{{cat}}</a></li>
        {% endfor %}
    </ul>
</div>
