<div id="sidebar" class="w-36" style="view-transition-name: sidebar; min-width: 12%;">
    <ul>
        <li class="text-red-300 text-xs">sidebar</li>
        <li class="text-red-300 text-xs">a longer sidebar that takes up some room!</li>
    </ul>
</div>
