{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="flex gap-4">
  {% render 'sidebar' %}
  <div class="p-4 grow h-[90vh] overflow-y-scroll inset-shadow-sm rounded-xl">
    <div class="collection-products ">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          <div class="collection-product px-2 pt-2 hover:shadow-md/20 hover:-translate-y-1 transition duration-300 ease-in rounded-xl">
            {% if product.featured_image %}
              {% assign vt_handle = product.title | handleize %}
              {% assign vt = "view-transition-name: photo-"| append: vt_handle %}
              {% render 'image',
                class: 'collection-product__image hover:shadow-md/20 hover:-translate-y-1 transition duration-200 ease-in rounded-xl',
                style:  vt,
                image: product.featured_image,
                url: product.url,
                width: 900
              %}
            {% endif %}
            <div class="collection-product__content p-4 rounded-xl" >
              <a href={{product.url}}> 
                <p>{{ product.title }}</p>
                <p class="font-mono">{{ product.price | money }}</p>
              </a>
            </div>
          </div>
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
</div>
{% stylesheet %}
  .collection-products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
