{% assign my_collection = collections['all'] %}

<div class="flex gap-1 md:gap-4 px-2 py-2">
  <div class="grow md:inset-shadow-sm md:rounded-xl">
    {% paginate my_collection.products by 14 %}
      {% render 'product-grid', products: my_collection.products %}
      <div class="flex justify-center gap-4 pt-8">{{ paginate | default_pagination }}</div>
    {% endpaginate %}
  </div>
</div>
