{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="flex gap-24">
  {% render 'sidebar' %}
  <div id="photos" class="h-[90vh] pb-4 p-2 mt-2 overflow-y-scroll shadow-md hover:shadow-lg/30 transition duration-100 ease-in no-scrollbar flex flex-col gap-4 rounded-xl w-[45%] z-10">
    {% for image in product.images %}
      <div class="shadow-sm hover:shadow-md rounded-xl -z-10" 
        {% if forloop.first %} 
          style="view-transition-name: photo-{{product.title | handleize }};"
        {% endif%}
        >
          {% render 'image', 
            class: 'product-image rounded-xl', 
            image: image,
            width: 900
          %}    
        </div>
    {% endfor %}
  </div>
  {% render 'product-info' %}
</div>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
