{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="flex gap-8">
  {% render 'sidebar' %}
  {% render 'product-info' %}
  <div id="photos" style="width: 35%;">
    {% for image in product.images %}
      {% if forloop.first %}
        <div style="view-transition-name: photo-{{product.title | handleize }};">
          {% render 'image', 
            class: 'product-image', 
            image: image,
            width: 700
          %}    
        </div>
      {% else %}
        <div>
          {% render 'image', 
              class: 'product-image ', 
              image: image,
              width: 700
            %}    
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
