{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="flex gap-8">
  {% render 'sidebar' %}
  <div id="photos" class="h-[90vh] pb-4 px-2 overflow-y-scroll shadow-xl/20 no-scrollbar flex flex-col gap-4 rounded-xl" style="width: 45%;">
    {% for image in product.images %}
      {% if forloop.first %}
        <div class="shadow-lg/20 rounded-xl" style="view-transition-name: photo-{{product.title | handleize }};">
          {% render 'image', 
            class: 'product-image rounded-xl', 
            image: image,
            width: 700
          %}    
        </div>
      {% else %}
        <div class="shadow-lg/20 rounded-xl">
          {% render 'image', 
              class: 'product-image rounded-xl', 
              image: image,
              width: 700
            %}    
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% render 'product-info' %}
</div>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
