{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}


<div class="flex gap-1 md:gap-4 px-2 py-2">
  <div class="grow md:inset-shadow-sm md:rounded-xl">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p>{{ 'search.no_results_html' | t: terms: search.terms }}</p>
      {% else %}
        <p>{{ 'search.results_for_html' | t: terms: search.terms, count: search.results_count }}</p>
        {% paginate search.results by 14 %}
          {% render 'product-grid', products: search.results %}
          <div class="flex justify-center gap-4 pt-8">{{ paginate | default_pagination }}</div>
        {% endpaginate %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "t:general.search",
  "settings": []
}
{% endschema %}
