/* Tailwind v4 single import */
@import "tailwindcss";

/* IMPORTANT: point Tailwind at your Shopify files so utilities get generated */
@source "./layout/**/*.{liquid,json}",
        "./templates/**/*.{liquid,json}",
        "./sections/**/*.{liquid,json}",
        "./snippets/**/*.{liquid,json}",
        "./assets/**/*.{js,css}";

/* (Optional) place custom layers below */
@layer components {
  /* .btn { @apply px-3 py-2 rounded; } */
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
